{% extends "ProyectoWebApp/base.html" %}
{% block content %}
<div class="reservation-success-container">
    <h2 class="success-title">¡Reserva realizada con éxito!</h2>
    <p class="success-message">Gracias por tu reserva, <strong>{{ usuario.username }}</strong>.</p>
    <div class="reservation-details">
    
        <h4>Detalles de la reserva:</h4>
        <ul>
            <li><strong>Vivienda:</strong> {{ vivienda.nombre }}</li>
            <li><strong>Fecha de inicio:</strong> {{ fecha_inicio }}</li>
            <li><strong>Fecha de fin:</strong> {{ fecha_fin }}</li>
            <li><strong>Precio Total:</strong> {{ precio_total }} €</li>
        </ul>
        </div>
        <a href="{% url 'Home' %}" class="btn-return-home">Volver a la página principal</a>
    
</div>
{% endblock %}
