<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido Confirmado</title>
</head>
<body>

    <p>Hola {{ nombreusuario }}</p>
    <p>Nº de pedido: {{ pedido.id }}</p>
    <p>Email de usuario: {{ emailusuario }}</p>
    <p>Líneas de pedido:</p>
    <ul>
        {% for linea in lineas_pedido %}
        <li>
            Producto: {{ linea.producto.nombre }}<br>
            Cantidad: {{ linea.cantidad }}<br>
            Precio: {{ linea.producto.precio }} €
        </li>
        {% endfor %}
    </ul>

</body>
</html>
