{% extends "ProyectoWebApp/base.html" %}
{% load static %}

{% block content %}
    <h2 class="categories-container"  style= "margin-top: 40px;   color: white">Listado de tus viviendas</h2>

    <div class="text-center mb-4">
        <a href="{% url 'catalogoViviendas:crear_vivienda' %}" class="btn btn-primary">Añadir Nueva Vivienda</a>
    </div>


    <div class="container mt-5">
        <!-- Formulario de búsqueda con filtros -->
        <div class="reservation-container">
        <form method="GET" action="{% url 'catalogoViviendas:catalogo_viviendas_propietario' %}" class="mb-4">
            <div class="input-group d-flex flex-column align-items-center">
                <!-- Filtro por nombre -->
                <div class="mb-3 w-100">
                    <label for="buscar-nombre" class="form-label text-white">Buscar por nombre</label>
                    <input id="buscar-nombre" type="text" name="q" class="form-control" placeholder="Introducir nombre" value="{{ request.GET.q }}">
                </div>
                <!-- Filtro por ubicación -->
                <div class="mb-3 w-100">
                    <label for="buscar-ubicacion" class="form-label text-white">Buscar por ubicación</label>
                    <input id="buscar-ubicacion" type="text" name="ubicacion" class="form-control" placeholder="Introducir ubicación" value="{{ request.GET.ubicacion }}">
                </div>
                <!-- Botones -->
            <div class="d-flex justify-content-center mt-3">
                <button class="btn-submit me-2" type="submit">Buscar</button>
                <a href="{% url 'catalogoViviendas:catalogo_viviendas' %}" class="btn-submit me-2" style = "margin-left: 10px;">Reset</a>
            </div>
            </div>
        </div>
        </form>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} mt-4">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <div class="row">
            {% for vivienda in viviendas %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <div class ="image-container">
                        <img class="card-img-top" src="{{ vivienda.imagen.url }}" alt="{{ vivienda.nombre }}">
                        </div>
                        <div class="card-body" style="color: black;">
                            <h5 class="card-title">{{ vivienda.nombre }}</h5>
                            <p class="card-text text-muted">{{ vivienda.ubicacion }}</p>
                            <p>{{ vivienda.descripcion|truncatewords:20 }}</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'catalogoViviendas:detalle_vivienda_propietario' vivienda.id %}" class="btn btn-primary">Ver más/Editar</a>
                        </div>
                    
                        <div class="card-footer text-center">
                            <form method="POST" action="{% url 'catalogoViviendas:eliminar_vivienda' vivienda.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
