{% extends "ProyectoWebApp/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="card text-center">
        <div class="card-body">
            <h2 class="card-title text-success">¡Reserva realizada con éxito!</h2>
            <p class="mt-4">Gracias por reservar con nosotros.</p>
            <p>Has reservado <strong>{{ vivienda.nombre }}</strong> en <strong>{{ vivienda.ubicacion }}</strong>.</p>
            <p><strong>Precio total:</strong> {{ precio_total }} €</p>
            <p><strong>Desde:</strong> {{ fecha_inicio }} <strong>Hasta:</strong> {{ fecha_fin }}</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'catalogoViviendas:catalogo_viviendas' %}" class="btn btn-primary">Volver al Catálogo</a>
        </div>
    </div>
</div>
{% endblock %}
