{% extends "ProyectoWebApp/base.html" %}


{% block content %}
    <h2>Carro de Reservas</h2>

    {% if reserva %}
        <div class="card mb-4">
            <img src="{{ reserva.vivienda.imagen.url }}" alt="{{ reserva.vivienda.nombre }}" class="card-img-top" style="max-height: 200px; object-fit: cover;">
            <div class="card-body">
                <h3>{{ reserva.vivienda.nombre }}</h3>
                <p><strong>Precio por día:</strong> {{ reserva.vivienda.precio_por_dia }} €</p>
                <p><strong>Precio Total:</strong> {{ reserva.precio_total }} €</p>
                <p><strong>Fecha Inicio:</strong> {{ reserva.fecha_inicio }}</p>
                <p><strong>Fecha Fin:</strong> {{ reserva.fecha_fin }}</p>
                <a href="{% url 'carro:eliminar' %}" class="btn btn-danger">Eliminar Reserva</a>
            </div>
        </div>
    {% else %}
        <div class="alert alert-info text-center">
            <h4>Tu carrito está vacío</h4>
            <a href="{% url 'catalogoViviendas:catalogo_viviendas' %}" class="btn btn-success mt-3">Ver catálogo de viviendas</a>
        </div>
    {% endif %}
{% endblock %}
