
{%extends "ProyectoWebApp/base.html"%}

{%load static%}

{%block content%}

    {% for post in posts %}

<div><p>
    <!-- Esto viene de copiar el heading de base.html -->

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            {% if post.imagen and post.imagen.url %}
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 50%;">
            {% endif %}

            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower">{{post.titulo}}</span>
                <span class="section-heading-upper">{{post.contenido}}</span>
              </h2> 
              <div style="text-align: left;">
                <p>{{post.autor}}</p>
                <p>{{post.fecha}}</p>"
            </div>
          </div>
        </div>
      </section>

</p></div>

    {%endfor%}

    <section class="categories-section">
      <div class="categories-container">
          <h3 class="categories-title">Categorías</h3>
          <div class="categories-list">
              {% for post in posts %}
                  {% for categoria in post.categorias.all %}
                      <a href="{% url 'categoria' categoria.id %}" class="category-link">{{ categoria.nombre }}</a>
                  {% endfor %}
              {% endfor %}
          </div>
      </div>
  </section>

{% endblock %}