{% extends "ProyectoWebApp/base.html" %}
{% load static %}

{% block content %}
<div class="login-container">
    <form method="POST" action="">
        {% csrf_token %}
        <h2 class="login-title">Iniciar Sesión</h2>
        
        <!-- Campo de Nombre de Usuario o Correo -->
        <div class="form-group">
            <input type="text" name="username_or_email" id="id_username_or_email" class="form-control" placeholder="Nombre de usuario o Correo" required>
            <i class="icon fa fa-user"></i>
        </div>

        <!-- Campo de Contraseña -->
        <div class="form-group">
            <input type="password" name="password" id="id_password" class="form-control" placeholder="Contraseña" required>
            <i class="icon fa fa-lock"></i>
        </div>

        <!-- Botón de Inicio de Sesión -->
        <div class="form-group">
            <button type="submit" class="btn btn-login">Inicia Sesión</button>
        </div>

        <!-- Enlaces para recuperar contraseña y registrarse -->
        <div class="text-center">
            <br>
            <span>¿Nuevo? <a href="{% url 'Autenticacion' %}" class="signup-link">Regístrate</a></span>
        </div>
    </form>
</div>
{% endblock %}
